 <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 style="color:yellow" class="mb-0">
                    muhammad ghifar ziady
                </h1>
                <div style="color: white;" class="subheading mb-5">
                    Indonesia, Banda Aceh · 085232296159 ·
                    <a style="text-decoration: none;" href="mailto:ifarziady123@gmail.com"><b style="color: white;" >ifarziady123@gmail.com</b></a>
                </div>
                <p style="color: white;" class="lead mb-5">{{ site.description }}</p>
                <div class="social-icons">
                <a class="social-icon" href="https://ghifarziady.wordpress.com"><i class="fab fa-wordpress"></i></a>
                <a class="social-icon" href="https://www.instagram.com/ifrzdy_/"><i class="fab fa-instagram"></i></a>
                    <a class="social-icon" href="https://github.com/GhifarZy"><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="https://www.youtube.com/channel/UCl0ywlNWhit6UlDy1uAf4aA"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </section>
