<section class="resume-section" id="interest">
            <div class="resume-section-content">
                <h2 class="mb-5">Interests</h2>
                <div class="subheading mb-3">
                    <div class="row">
                        <div class="col-lg">
                            <p style="color: white;">Videomaking</p>
                            <div class="container">
                                <div style="color: black;" class="skills pr">&nbsp;&nbsp;&nbsp;90%</div>
                            </div>
                        </div>
                        <div class="col-lg">
                            <p style="color: white;">Cinematography</p>
                            <div class=" container ">
                                <div style="color: black;" class="skills ai ">&nbsp;&nbsp;&nbsp;80%</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg">
                            <p style="color: white;">Web Designer</p>
                            <div class="container">
                                <div style="color: black;" class="skills pr">&nbsp;&nbsp;&nbsp;90%</div>
                            </div>
                        </div>
                        <div class="col-lg">
                            <p style="color: white;">Editing</p>
                            <div class=" container ">
                                <div style="color: black;" class="skills ai ">&nbsp;&nbsp;&nbsp;80%</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <hr class="m-0 " />
