<!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">
                    <h3 style="color: white;">Programming Languages & Tools</h3>
                </div>
                <ul style="color: yellow;" class="list-inline dev-icons">

                    <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                    <li class="list-inline-item"><i class="fab fa-php"></i></li>
                    <li class="list-inline-item"><i class="fab fa-laravel"></i></li>
                    <li class="list-inline-item"><i class="fab fa-sass"></i></li>
                    <li class="list-inline-item"><i class="fab fa-github"></i></li>
                    <li class="list-inline-item"><i class="fab fa-git"></i></li>
                    <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                    <li class="list-inline-item"><i class="fa fa-database"></i></li>
                    <li class="list-inline-item"><i class="fa fa-code"></i></li>
                </ul>
                <div class="subheading mb-3">
                    <h3 style="color: white;">Multimedia</h3>
                    <div class="row">
                        <div class="col-lg">
                            <p style="color: white;">Adobe Primiere Pro</p>
                            <div class="container">
                                <div style="color: black;" class="skills pr">&nbsp;&nbsp;&nbsp;90%</div>
                            </div>
                        </div>
                        <div class="col-lg">
                            <p style="color: white;">Adobe Ilustrator</p>
                            <div class=" container ">
                                <div style="color: black;" class="skills ai ">&nbsp;&nbsp;&nbsp;80%</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <hr class="m-0 " />
